    <!-- 対応エリア帯：全25市町へ全ページからリンクする（回遊と内部リンクのため） -->
    <div class="wrap foot__areas">
      <h4>対応エリア 全25市町</h4>
        <div class="foot__areagrp">
          <span class="foot__areapref">石川県</span>
          <div class="foot__arealist">
          <a href="/kanazawa/">金沢市</a>
          <a href="/tsubata/">津幡町</a>
          <a href="/hodatsushimizu/">宝達志水町</a>
          <a href="/uchinada/">内灘町</a>
          <a href="/hakui/">羽咋市</a>
          <a href="/nonoichi/">野々市市</a>
          <a href="/nomi/">能美市</a>
          <a href="/kawakita/">川北町</a>
          <a href="/shika/">志賀町</a>
          <a href="/nakanoto/">中能登町</a>
          <a href="/hakusan/">白山市</a>
          <a href="/nanao/">七尾市</a>
          <a href="/komatsu/">小松市</a>
          <a href="/kaga/">加賀市</a>
          <a href="/wajima/">輪島市</a>
          <a href="/suzu/">珠洲市</a>
          <a href="/anamizu/">穴水町</a>
          <a href="/notomachi/">能登町</a>
          </div>
        </div>
        <div class="foot__areagrp">
          <span class="foot__areapref">富山県</span>
          <div class="foot__arealist">
          <a href="/himi/">氷見市</a>
          <a href="/takaoka/">高岡市</a>
          <a href="/oyabe/">小矢部市</a>
          <a href="/imizu/">射水市</a>
          <a href="/tonami/">砺波市</a>
          <a href="/toyama/">富山市</a>
          <a href="/nanto/">南砺市</a>
          </div>
        </div>
    </div>
