  <!-- 新デザイン用フォント＋CSS -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Zen+Old+Mincho:wght@400;600;700&family=Murecho:wght@400;500;700&family=Barlow+Semi+Condensed:wght@400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/lp.css">
  <script>document.documentElement.classList.add('js-motion');</script>
